/* ------------------------------------------------- */
/* -----------------DEFAULT SETUP--------------- */
/* ------------------------------------------------- */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Lato', sans-serif;
}
/* ------------------------------------------------- */
/* ----------RESABLE COMPONENT----------------- */
/* ------------------------------------------------- */

.btn{
    font-size: 150%;
    text-decoration: none;
    background-color: tomato;
    padding: 15px;
    color: white;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .2s;
}

.btn:hover,
.btn:active{
    background-color: #f3690d;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f3690d;
    font-size: 200%;
    text-align: center;
    font-weight: 800;
}
h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 150%;
    text-align: center;
    font-weight: 200;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #3c3cf7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2:after{
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #f88437a4;
    margin: 0 auto;
    margin-top: 5px;
}

.p-long{
    text-align: center;
    color: rgb(59, 103, 247);
    font-size: 22px;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 140%;
}

section{
    padding: 50px;
}

.small-icon{
    font-size: 150%;
    color: blue;
    margin-right:10px ;
}

/* ------------------------------------------------- */
/* ---------------------HEADER---------------------- */
/* ------------------------------------------------- */
header{
    background-image: linear-gradient(45deg,rgba(0, 153, 204, 0.8) 45%,rgba(204, 255, 204, 0.85) ), url(../image/background2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* view height */
    background-attachment: fixed;
}

.logo{
    width: 300px;
    float: left;
    margin-left: 50px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 70px;
    margin-right: 30px;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 150%;
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #cccccc;
}



.main-heading-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-45%);
    width: 1140px;
}

.main-heading-box h1{
    text-transform: uppercase;
    font-size: 350%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}

/* ------------------------------------------------- */
/* ---------------ABOUT SECTION--------- */
/* ------------------------------------------------- */
.about-picture{
    position: relative;
    margin-top: 50px;
}

.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 5px solid #bfd1f1;
    box-shadow: 0px 5px 15px 5px #3764f8ce;
    /* x-y-độ mờ-độ phóng rộng-màu */
    transition: all .5s;
    
}

.title-picture{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 25px;
    opacity: 0;
    color: aquamarine;
    transition: all .5s;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(50%) blur(2px);
}

.about-picture:hover .title-picture,
.about-picture:active .title-picture{
    transform: translate(-50%,-50%);
    opacity: 1;
}

/* ------------------------------------------------- */
/* ---------------ACTION---------- */
/* ------------------------------------------------- */
.active-section{
    background-color: #f4f4f4;
}

.active-section h2{
    margin-bottom: 60px;
}

.active-box{
    background-color: rgb(204, 207, 243);
    border-radius: 10px;
    height: 350px;
    width: 90%;
    box-shadow: 3px 5px 5px #8989ec;
}

.active-price{
    text-align: center;
    font-size: 300%;
    color: #3c3cf7;
    padding: 20px;
}

.active-price span{
    font-size: 80%;
    font-weight: 200;
}

.active-box ul li{
    font-size: 150%;
    margin-left: 20%;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active-box .btn{
    margin-left: 18%;
    margin-top: 10px;
}

/* ------------------------------------------------- */
/* ---------------TESTIMONIALS SECTION--------- */
/* ------------------------------------------------- */
.testimonials-section{
    background-image:  linear-gradient(45deg,rgba(0, 153, 204, 0.8) 45%,rgba(204, 255, 204, 0.85) ), url("../image/background3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.testimonials-section h2{
    margin-bottom: 70px;
}

blockquote{
    position: relative;
    width: 95%;
    color: white;
    font-size: 140%;
    font-style: italic;
}

blockquote:before{
    content: '\201c';
    display: block;
    font-size: 400%;
    position: absolute;
    top:-45px;
    left: -20px;
}

cite{
    display: block;
    margin-top: 25px;
    color: #3c3ce9;
}

cite img{
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/* ------------------------------------------------- */
/* ---------------TESTIMONIALS SECTION--------- */
/* ------------------------------------------------- */

.sponsors-section{
    background-color: #f4f4f4;
}
.sponsors-section h2{
    margin-bottom: 40px;
}

.sponsor-showcase{
    margin-left: 8%;
    
}
.sponsor-showcase li{
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.logo-sponsor{
    width: 140px;
    transition: all .5s;
}
.sponsor-showcase li .logo-sponsor:hover,
.sponsor-showcase li .logo-sponsor:active{
    transform: scale(1.2);
}

figcaption{
    color: blue;
    font-weight: 900;
    font-size: 120%;
    cursor: pointer;
}

/* ------------------------------------------------- */
/* ---------------CONTACT SECTION--------- */
/* ------------------------------------------------- */
.contact-section{
    background-image:  linear-gradient(45deg,rgba(0, 153, 204, 0.8) 45%,rgba(204, 255, 204, 0.85) ), url("../image/background1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.infomation{
    color: white;
    list-style: none;
    line-height: 200%;
    margin-top: 50px;
    transition: all .5s;
}

.social-icons{
    list-style: none;    
}

.social-icons li i{
    float: left;
    font-size: 300%;
    color: white;
    margin-right: 30px;
    margin-top: 10px;
}

.infomation .small-icon:hover,
.infomation .small-icon:active{
    transform: scale(1.3);
}
.social-icons li{
    transition: all .5s;
    cursor: pointer;
}

.social-icons li:hover,
.social-icons li:active{
    transform: scale(1.05);
    color: #f3690d;
}

form{
    background-color: rgba(0,0,0,.4);
    margin-left: 40%;
    width: 50%;
    padding: 30px;
    margin-bottom: 30px;
}

label{
    color: #f4f4f4;
    font-size: 150%;
}

textarea, input{
    outline: none;
    padding: 8px;
    background-color: rgba(37, 34, 34, 0.3);
    border:1px solid rgba(48, 48, 48, 0.5) ;
    margin-left: 30px;
    border-radius: 5px;
}
textarea{
    resize: none;
    height: 70px;
}

input{
    height: 30px;
}

form .row{
    margin-bottom: 10px;
}

form .row:last-child{
    text-align: center;

}

input[type=text],input[type=email],textarea{
    width: 80%;
}
input[type=text]:focus,input[type=email]:focus,textarea:focus{
    background-color:rgba(37, 34, 34, 0.5) ;
    color: white;
    transition: all .5s;
}

input[type=submit]{
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: 60%;
    font-weight: 550;
}



/* ------------------------------------------------- */
/* ---------------FOOTER----------- */
/* ------------------------------------------------- */
footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}